@page
@model CareerConnector.Pages.Employers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employer.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employer.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employer.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employer.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employer.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employer.Company)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employer.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employer.EmployerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
