@page
@model CareerConnector.Pages.Applications.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Application[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application[0].Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application[0].Skills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Application[0].Resume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Application) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resume)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ApplicationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ApplicationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ApplicationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
